In [12]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [17]:
import time as time
import pyodbc
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import arehelper.dataprocessing
import arehelper.datavisualization
import arehelper.predictive_model
# Tensorflow
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import *
from keras.losses import mean_squared_error
from keras.metrics import RootMeanSquaredError
#Sklearn
from sklearn.metrics import mean_squared_error

In [47]:
# SQL Connection
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=sqlserver7w7bbd5rlwweu.database.windows.net;'
                      'Database=AreIoTSQLSensorData;'
                      'Trusted_Connection=no;'
                     'Uid=Teemu_ARE;'
                     'Pwd=Toukokuu2022!;')
# SQL Hakuja
pd.set_option('display.max_columns', None)
sqlmuseo = """SELECT * FROM museotesti WHERE Apartment = 1 AND date > '2022-01-01' ORDER BY date DESC"""
sqlsää = """SELECT time, temperature, humidity FROM weatherrecords WHERE Time > '2022-01-01'
            AND PLACE = 'Jyväskylä' ORDER BY time DESC"""
sqlennustus = """SELECT * FROM weatherforecasts WHERE place = 'Jyväskylä, Keskusta'"""

dfmuseo = pd.read_sql(sqlmuseo,conn)
dfsää = pd.read_sql(sqlsää,conn)
dfennustus = pd.read_sql(sqlennustus,conn)

In [50]:
dfmuseo

,ID,Sensorid,date,Lampotila,Kosteus,place,Apartment,Floor
0,13779610,A81758FFFE0609C8,2022-05-24 11:44:00,20.4,34.0,Välitaso,1,1
1,13779562,A81758FFFE0609C9,2022-05-24 11:43:00,21.7,32.0,Museokauppa,1,1
2,13779556,A81758FFFE0609C2,2022-05-24 11:42:00,20.3,33.0,Perusnayttely vitriinin ulkopuolella,1,3
3,13779517,A81758FFFE0609C5,2022-05-24 11:41:00,19.3,38.0,Arkisto 1,1,3
4,13779499,A81758FFFE0609C3,2022-05-24 11:40:00,22.2,29.0,Perusnayttely vitriinin sisapuolella,1,3
...,...,...,...,...,...,...,...,...
162471,8431486,A81758FFFE0609C7,2022-01-01 00:05:00,19.8,24.0,Aulagalleria,1,1
162472,8431488,A81758FFFE0609C1,2022-01-01 00:05:00,19.1,32.0,Perusnayttely kansallispukukeskus vitriinin ulkop,1,3
162473,8431490,A81758FFFE0609C0,2022-01-01 00:05:00,20.1,27.0,Perusnayttely kansallispukukeskus vitriinin si...,1,3
162474,8431479,A81758FFFE0609CB,2022-01-01 00:05:00,20.3,22.0,Vaihtuvat näyttelyt,1,2
162475,8431456,A81758FFFE0609C6,2022-01-01 00:04:00,18.2,33.0,Arkisto 2,1,3

In [28]:
# Kaikki Käsityömuseon sensorit
df = arehelper.predictive_model.create_sensordf('1min',prints=True)

connecting...
Connected!
Found 13 sensors:
['A81758FFFE0609C4' 'A81758FFFE0609C0' 'A81758FFFE0609C7'
 'A81758FFFE0609CB' 'A81758FFFE0609C6' 'A81758FFFE0609C1'
 'A81758FFFE0609C8' 'A81758FFFE0609C9' 'A81758FFFE0609C2'
 'A81758FFFE0609CC' 'A81758FFFE0609C5' 'A81758FFFE0609C3'
 'A81758FFFE0609CA']

Dataframe names:
df["A81758FFFE0609C4"]
df["A81758FFFE0609C0"]
df["A81758FFFE0609C7"]
df["A81758FFFE0609CB"]
df["A81758FFFE0609C6"]
df["A81758FFFE0609C1"]
df["A81758FFFE0609C8"]
df["A81758FFFE0609C9"]
df["A81758FFFE0609C2"]
df["A81758FFFE0609CC"]
df["A81758FFFE0609C5"]
df["A81758FFFE0609C3"]
df["A81758FFFE0609CA"]

## Ennustukset jokaiselle sensorille

In [39]:
# Ennustus
sensor = [df['A81758FFFE0609C9']]
dec_l, rand_l = arehelper.predictive_model.predict_museo_hum(sensor, figure=False)

Viimeisin datapiste:
2022-05-24 11:26:00
connecting...
Connected!
Ennustukset ajoille: 0   2022-05-24 13:40:00.623
Name: timestamp, dtype: datetime64[ns]
 0   2022-05-24 14:40:00.623
Name: timestamp, dtype: datetime64[ns]
 0   2022-05-24 17:40:00.623
Name: timestamp, dtype: datetime64[ns]

Dec Predictions:[[33.73624474 33.73624474 33.73624474]]
Rand predictions: [[33.73861693 33.72754669 33.70145255]]

In [45]:
dec_l[0]

   Humidity in 2h  Humidity in 3h  Humidity in 6h
0       33.736245       33.736245       33.736245

In [46]:
rand_l[0]

   Humidity in 2h  Humidity in 3h  Humidity in 6h
0       33.738617       33.727547       33.701453

## Ennustukset yksittäisille sensoreille

In [25]:
df = arehelper.predictive_model.create_sensordf('1min', prints=True)

connecting...
Connected!
Found 13 sensors:
['A81758FFFE0609C6' 'A81758FFFE0609C1' 'A81758FFFE0609C8'
 'A81758FFFE0609C9' 'A81758FFFE0609C2' 'A81758FFFE0609CC'
 'A81758FFFE0609C5' 'A81758FFFE0609C3' 'A81758FFFE0609C4'
 'A81758FFFE0609C0' 'A81758FFFE0609C7' 'A81758FFFE0609CB'
 'A81758FFFE0609CA']

Dataframe names:
df["A81758FFFE0609C6"]
df["A81758FFFE0609C1"]
df["A81758FFFE0609C8"]
df["A81758FFFE0609C9"]
df["A81758FFFE0609C2"]
df["A81758FFFE0609CC"]
df["A81758FFFE0609C5"]
df["A81758FFFE0609C3"]
df["A81758FFFE0609C4"]
df["A81758FFFE0609C0"]
df["A81758FFFE0609C7"]
df["A81758FFFE0609CB"]
df["A81758FFFE0609CA"]

In [ ]:
start = time.time()
df_l = []

for i in arehelper.predictive_model.create_sensordf('1min'):
    df_l.append(sensor[i])
dec_l, rand_l = arehelper.predictive_model.predict_museo_hum(df_l, figure=True)

print(f'Running time: {round((time.time())-start,0)} seconds')

In [51]:
dec_l[0]

   Humidity in 2h  Humidity in 3h  Humidity in 6h
0       33.736245       33.736245       33.736245

In [52]:
rand_l[0]

   Humidity in 2h  Humidity in 3h  Humidity in 6h
0       33.738617       33.727547       33.701453